<ion-tabs>

  <ion-tab-bar slot="bottom" style="border-top: 1px solid lime;">
    <ion-tab-button tab="tab1" href="/tabs/tab1">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2" href="/tabs/tab2">
      <i class="fa-solid fa-indian-rupee-sign fa-2xl" style="font-size: 22px; margin-bottom: 14px; margin-top: 10px;"></i>
      <!-- <ion-icon name="logo-usd"></ion-icon> -->
      <ion-label>Rates</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3" href="/tabs/tab3">
      <ion-icon name="calculator"></ion-icon>
      <ion-label>Sell Scrap</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab4" href="/tabs/tab4">
      <ion-icon name="cart"></ion-icon>
      <ion-label>Orders</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab5" href="/tabs/tab5">
      <ion-icon name="person"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
